


@model UsedClothes.Models.ClothModelView
@using UsedClothes.Infrastructure
@using ClientDependency.Core.Mvc

@{
    ViewBag.Title = "Nowa pozycja";
     
    Html.RequiresCss("jquery.ui.all.css","Base", 1);    
    Html.RequiresJs("jquery-1.8.3.js", "Scripts", 1);    
    Html.RequiresJs("jquery-ui-1.9.2.min.js", "Scripts", 2);      
    Html.RequiresJs("ScriptsForAddClothForm.js", "Scripts", 3);
    Html.RequiresCss("UploadPhotos.css","Content",1);
    //do fu
    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 2);
    Html.RequiresJs("FileUpload/jquery.fileupload.js", "Content", 3);

    //Html.RequiresJs("jquery-ui-1.9.2.js", "Scripts", 2);   
}
<script type="text/javascript">

    
</script>


<div class="list-rows">
    <form id="product-classify" onsubmit="return false;" method="POST"  name="product-classify">
        <p class="step">Krok 1</p>
        <p class="list-label">Kategorie</p>
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.Genders, new SelectList(ViewBag.Genders as System.Collections.IEnumerable, "GenderId", "GenderName"),
                    "Wybierz Pierwszą", new { id = "ddlGenders" })
           @* <img id="loader1" src="/Content/img/loading.gif" alt="Czekaj ..." width="15px" height="15px" style=" display:none;">         *@
        </p>
        
        
        
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.Types, new SelectList(Enumerable.Empty<SelectListItem>(), "TypeId", "TypeName"),
                    "Wybierz Drugą", new { id = "ddlTypes", disabled = "true" })   
                    @*<img id="loader2" src="/Content/img/loading.gif" alt="Czekaj ..." width="15px" height="15px" style=" display:none;">      *@   
        </p>
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.SubTypes, new SelectList(Enumerable.Empty<SelectListItem>(), "SubTypeId", "SybTypeName"),
                             "Wybierz trzecią", new { id = "ddlSubTypes", disabled = "true" })
        </p>
        <br />

        <p class="list-label">Rozmiar</p>
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.Sizes, new SelectList(Enumerable.Empty<SelectListItem>(), "SizeId", "SizeName"),
                        "Wybierz rozmiar", new { id = "ddlSizes", disabled = "true" })
        </p>
        <br />

        <div class="longer-drops">
            <p class="list-label">Marka</p>
            <p class="fieldwrap">
                @*@Html.TextBoxFor(m => m.BrandId, new { data_autocomplete_url = Url.Action("Autocomplete"), value = "(wprowadź nazwe producenta)" })*@
                @Html.AutocompleteFor(m => m.BrandName, "Autocomplete", "Clothes")    
                <span class="disclaimer">(podrubki i fałszywe marki zabronione)</span>
            </p>
        </div>
        <br />
       
        <div class="longer-drops">
            <p class="list-label">Stan</p>
            <p class="radiowrap">
                @Html.RadioButtonFor(Model => Model.Condition, false, new { id = "isNew", @checked="true" })
                <label for="isNew">Nowe</label>
            </p>
            <p class="radiowrap">
                @Html.RadioButtonFor(Model => Model.Condition, true, new { id = "isUsed" })
                <label for="isUsed">Używane</label>
            </p>
            <div style="display: none;" id="vintage-details" class="modal">
                <div>
                    <h3>Czy Twoją Pozycje zakwalifikować jako zabytkową?</h3>
                    <p style="height:100%;">
                        "Zabytkowy" oznacza:
                            <br /> 
                            <strong>"stary, uznany, jakościowy lub klasyczny".</strong>
                            <br />
                            <br />
                            Jeśli element został wykonany po 1995 r., to prawdopodobnie nie jest "zabytkowy".
                            Jednak ostateczną decyzję pozostawiamy Tobie. Proszę wybrać mądrze.
                    </p>
                    <a onclick="jQuery('#vintage-details').fadeOut();" href="javascript:void(0)">close details</a>
                     <br style="clear:both;">
                 </div>
            </div>
            <p class="checkboxwrap">
                @Html.CheckBoxFor(Model => Model.IsVintage, new { id = "isVintage" })
                <label for="isVintage">Zabytkowe</label>
            </p>
            <a style="position:relative;top:20px;right:70px;" onclick="jQuery('#vintage-details').fadeIn();" href="javascript:void(0)">(?)</a>
        </div>
        <br />
        <p class="list-label">Materiał</p>
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.Materials, new SelectList(ViewBag.Materials as System.Collections.IEnumerable, "MaterialId", "MaterialName"),
                     "Materiał...", new { id = "ddlMaterials" })
        </p>
        <br />
        <p class="list-label">Kolor & Wzór</p>
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.Colors, new SelectList(ViewBag.Colors as System.Collections.IEnumerable, "ColorId", "ColorName"),
                              "Kolor...", new { id = "ddlColors" })
        </p>   
        <p class="selectwrap">
            @Html.DropDownListFor(Model => Model.Patterns, new SelectList(ViewBag.Patterns as System.Collections.IEnumerable, "PatternId", "PatternName"),
                                       "Wzór...", new { id = "ddlPatterns" })
        </p>
    </form>
    <br />

    <p class="step" >Krok 2</p>
    <p style="border:0;" class="list-label">Product Photos</p>
    @*<div class="list-item">*@
    <div class="photos">
        <form enctype="multipart/form-data"  method="POST" action="/Upload/UploadHandler.ashx" id="frontUpload" name="pf">
            <p id="wrap_photo_front" class="filewrap fileinput-button" style="background-image: url(&quot;/content/images/bg/add-image.jpg&quot;);">
                <label for="photo_front">
                    (on body, front)
                </label>
                <label class="file ">
                    <input type="file" class="btn btn-success fileinput-button"  name="photo_front" >
                </label>
                    <input type="hidden" class="hidden" value="photo_front" name="photo_front" >             
            </p>
        </form>
        <form enctype="multipart/form-data"  method="POST" action="/Upload/UploadHandler.ashx" id="backUpload" name="pb">
            <p id="wrap_photo_back" class="filewrap fileinput-button" style="background-image: url(&quot;/content/images/bg/add-image.jpg&quot;);">
                <label for="photo_back">
                    (on body, back)
                </label>
                <label class="file ">
                    <input type="file" class="btn btn-success fileinput-button"  name="photo_back" >
                </label>
                    <input type="hidden" class="hidden" value="photo_back" name="photo_back" > 
            </p>
        </form>
        <form enctype="multipart/form-data"  method="POST" action="/Upload/UploadHandler.ashx" id="detailUpload0" name="pd0">
            <p id="wrap_photo_detail0" class="filewrap fileinput-button" style="background-image: url(&quot;/content/images/bg/add-image.jpg&quot;);">
                <label for="photo_detail0">
                    (detail)
                </label>
                <label class="file ">
                    <input type="file" class="btn btn-success fileinput-button"  name="photo_detail0" >
                </label>
                    <input type="hidden" class="hidden" value="photo_detail0" name="photo_detail0" > 
            </p>
        </form>
        <form enctype="multipart/form-data"  method="POST" action="/Upload/UploadHandler.ashx" id="detailUpload1" name="pd1">
            <p id="wrap_photo_detail1" class="filewrap fileinput-button" style="background-image: url(&quot;/content/images/bg/add-image.jpg&quot;);">
                <label for="photo_detail1">
                    (detail)
                </label>
                <label class="file ">
                    <input type="file" class="btn btn-success fileinput-button"  name="photo_detail1" >
                </label>
                    <input type="hidden" class="hidden" value="photo_detail1" name="photo_detail1" > 
            </p>
        </form>
        <div class="rotators">
            <div class="rotate"  >    
                <a id="rot-front" onclick="remove_photo('#frontUpload')" class="remove-photo" title="Remove this image" href="javascript:void(0)"><em>Remove</em></a>
            </div>
            <div class="rotate"  >    
                <a id="rot-back" onclick="remove_photo('#backUpload')" class="remove-photo" title="Remove this image" href="javascript:void(0)"><em>Remove</em></a>
            </div>
            <div class="rotate"  >    
                <a id="rot-detail0" onclick="remove_photo('#detailUpload0')" class="remove-photo" title="Remove this image" href="javascript:void(0)"><em>Remove</em></a>
            </div>
            <div class="rotate"  >    
                <a id="rot-detail1" onclick="remove_photo('#detailUpload1')" class="remove-photo" title="Remove this image" href="javascript:void(0)"><em>Remove</em></a>
            </div>
        </div>
    </div>
    
    <form id="product-detail" onsubmit="return Listing.validate_and_submit()" method="POST" action="/Clothes/AddClothes" name="product-detail">
        <p class="step">Krok 3</p>
        <div class="list-form">      
            <p id="wrap_title" class="fieldwrap">
                @Html.LabelFor(Model => Model.Name)
                @Html.TextBoxFor(Model => Model.Name, new { @class = "long" }) 
            </p>
            <p class="tip">Użyj słów kluczowych(max 100 znaków).</p>
            <p id="wrap_Description" class="fieldwrap">
                @Html.LabelFor(Model => Model.Description)
                @Html.TextAreaFor(Model => Model.Description, new { @class = "big" }) 
            </p>
            <p class="tip">Jasny opis odzieży, jej stan obecny i właściwości.</p>
        </div>

        <p class="step">Krok 4</p>
        <p id="wrap_price" class="fieldwrap">
            <p class="list-label">Cena</p>
            @Html.TextBoxFor(Model => Model.Price, new { @class = "short" })      
        </p>
        <p id="wrap_quantity" class="fieldwrap">
            <p class="list-label">Ilość</p>
            @Html.TextBoxFor(Model => Model.Quantity, new { @class = "short" })      
        </p>
        <p class="step"></p>
        <div style="margin-left:210px;">        
            <p class="button">
                <input type="button" onclick="save_draft()" value="Dodaj">
                  
            </p>

        </div>
    </form>

</div>
